@mixin clearfix { // clearfix is used on an element which has an attribute of either float left / float right; since by default it's height is set to 0
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
 *       0 - 600px - Mobile phones
 *   600px - 900px - Tablet (portrait)
 *  900px - 1200px - Tablet (landscape)
 * 1200px - 1800px - default desktop first technique
 * 1800px +        - Ultrawide desktop monitors
 */

/*
  $breakpoints
  - mobile
  - tab-port
  - tab-landsc
  - wide-deskt

  ORDER: Base + typography > general layout + grid > page layout > components

  - 1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 37.5em) { @content }; // 600px divided by 16px = 37.5em
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-landsc {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == wide-deskt {
    @media (min-width: 112.5em) { @content };
  }
}